<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>9955629611-lel2sehnt3n7qe148bj7fm1ic50tf2ce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.9955629611-lel2sehnt3n7qe148bj7fm1ic50tf2ce</string>
	<key>API_KEY</key>
	<string>AIzaSyBwuYUIFjmkHoysg6T9ntxqjKv5un1W8eY</string>
	<key>GCM_SENDER_ID</key>
	<string>9955629611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blessing.todo</string>
	<key>PROJECT_ID</key>
	<string>todo-b4b53</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-b4b53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:9955629611:ios:5214472d49b1c59042686e</string>
</dict>
</plist>